$primary-color: #4361EE
$secondary-color: #F72585
$text-color: #2D2D2A
$light-text-color: #fff
$danger-color: #FF2222
$bg-color: #fff
$secondary-light: #C3C3C3

$font-xs: 14px
$font-s: 16px
$font-m: 18px
$font-l: 20px
$font-xl: 24px
$font-xxl: 36px
$font-title: 64px
